{% extends "base.html" %}
{% load static %}


{% block scripts %}
    <script src="{% static '/js/feed.js' %}"></script>
{% endblock  %}

{% block styles %}
    <link rel="stylesheet" href="{% static '/css/feed.css' %}">
{% endblock  %}

{% block meta %}
    <meta charset="UTF-8">
{% endblock %}

{% block content %}
    <div class="section">
        {% csrf_token %}

        {# Search bar #}
        <nav class="level">
            <div class="level-left">
                <div class="level-item">
                    <p class="subtitle is-5">
                        <strong>{{ count }}</strong> routes
                    </p>
                </div>

                <div class="level-item">
                    <form method="get">
                    <div class="field has-addons">

                        <div class="control is-expanded">
                            <input name="query" class="input" type="text" placeholder="Find a route" value="{{ query }}">
                        </div>

                        <div class="control">
                            <span class="select">
                            <select name="target">
                                <option value="routes" {% if target == 'routes' %}selected{% endif %}>Routes</option>
                                <option value="tags"{% if target == 'tags' %}selected{% endif %}>Tags</option>
                                <option value="users"{% if target == 'users' %}selected{% endif %}>Users</option>
                            </select>
                            </span>
                        </div>

                        <div class="control">
                            <span class="select">
                            <select name="sort">
                                <option value="all" {% if sort == 'all' %}selected{% endif %}>All</option>
                                <option value="top" {% if sort == 'top' %}selected{% endif %}>Popular</option>
                                <option value="new" {% if sort == 'new' %}selected{% endif %}>Latest</option>
                            </select>
                            </span>
                        </div>

                        <div class="control">
                            <button class="button">
                                Search
                            </button>
                        </div>

                    </div>
                    </form>
                </div>
            </div>

            <div class="level-right">
                <div class="level-item">
                    <strong>All:</strong>
                </div>
                <div class="level-item">
                    <a href="{% url 'Feed:feed' %}?showall=new">Latest<a/>
                </div>
                <div class="level-item">
                    <a href="{% url 'Feed:feed' %}?showall=top">Most Popular</a>
                </div>
                <div class="level-item">
                    <a href="{% url 'RoutePlanner:route-planner' %}" class="button is-success">New Route</a>
                </div>
            </div>
        </nav>


        {# Display cards #}
        {% for route in routes %}
            {% include 'Feed/route_card.html' with route=route %}
        {% endfor %}
    </div>
{% endblock %}