{% extends "base.html" %}
{% load static %}


{% block scripts %}
    <script src="{% static '/js/feed.js' %}"></script>
{% endblock  %}

{% block styles %}
    <link rel="stylesheet" href="{% static '/css/feed.css' %}">
{% endblock  %}

{% block meta %}
    <meta charset="UTF-8">
{% endblock %}

{% block content %}
    <div class="section">
        {% csrf_token %}

        {# Search bar #}
        <nav class="level">
            <div class="level-left">
                <div class="level-item">
                <p class="subtitle is-5">
                    <strong>123</strong> posts
                </p>
                </div>
                <div class="level-item">
                <div class="field has-addons">
                    <p class="control">
                    <input class="input" type="text" placeholder="Find a post">
                    </p>
                    <p class="control">
                    <button class="button">
                        Search
                    </button>
                    </p>
                </div>
                </div>
            </div>

            <div class="level-right">
                <p class="level-item"><strong>All</strong></p>
                <p class="level-item"><a>Published</a></p>
                <p class="level-item"><a>Drafts</a></p>
                <p class="level-item"><a>Deleted</a></p>
                <p class="level-item"><a class="button is-success">New</a></p>
            </div>
        </nav>


        {# Display cards #}
        {% for route in routes %}
            {% include 'Feed/route_card.html' with route=route %}
        {% endfor %}
    </div>
{% endblock %}