<div class="card">
    <header class="card-header">
        <p class="card-header-title">{{ route.title }}</p>
    </header>
    <div class="card-image">
        <figure class="image is-3by2">
            <img class="map-img" data-route="{{ route.points }}" src="" width="300" height="200">
        </figure>      
    </div>
    <p> Description: {{ route.description }}</p>
    <p> Points: {{ route.points }}</p>
    <p> Rating: {{ route.rating }}</p>
    <p> Id: {{ route.id }}</p>
    <p> User: {{ route.user }}</p>
    <button name="Like" onclick="like({{ route.id }})">Like</button>
    <button name="Like" onclick="dislike({{ route.id }})">Dislike</button>
</div>
