{% extends "base.html" %}
{% block content %}
    <div class="section">
        <div class="container has-text-centered">
            <p class="title">{{ user.get_username }}'s Profile</p>
        </div>

        <div class="container">
            <form action="post">
                {% include 'forms/input.html' with field=form.username label='Username' %}
                {% include 'forms/input.html' with field=form.email label='Email' %}
                {% include 'forms/submit.html' with text='Save' %}
            </form>
        </div>
    </div>
{% endblock %}