{% extends "base.html" %}
{% block content %}
    <div class="section">
        <div class="container has-text-centered mb-4">
            <p class="title">Sign Up</p>
        </div>

        <div class="box">
            <form method="post">
                {% csrf_token %}
                {% include 'forms/input.html' with field=form.username label='Username' %}
                {% include 'forms/input.html' with field=form.email label='Email' %}
                {% include 'forms/input.html' with field=form.password label='Password' %}
                {% include 'forms/input.html' with field=form.password_confirmation label='Confirm Password' %}
                <div class="field is-grouped">
                    <div class="control">
                        <a href="{% url 'users:login' %}" class="button is-light">Log In</a>
                    </div>
                    <div class="control">
                        <button class="button is-link">Sign Up</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    
{% endblock %}