{% extends "weather/base.html" %}
{% block content %}

<div class="cover" id="container">

    <h1 class="cen"> Weather Data </h1>

    <br>
    <br>

    <div class="row">
        <div class="margin-left"></div>
            <div class="col-md-4">
            </div>
            <div class="col-md-3">
                <div class="cen">
                    <div class="lightgrey">
                        {% load static %}
                        {% if currentIcon == "01d" %}
                        <img src="{% static 'images/clearSky.png' %}" alt="clearSky">
                        {% elif currentIcon == "02d" %}
                        <img src="{% static 'images/fewClouds.png' %}" alt="fewClouds">
                        {% elif currentIcon == "03d" or currentIcon == "03n" %}
                        <img src="{% static 'images/scatteredClouds.png' %}" alt="scatteredClouds">
                        {% elif currentIcon == "04d" or currentIcon == "04n" %}
                        <img src="{% static 'images/brokenClouds.png' %}" alt="brokenClouds">
                        {% elif currentIcon == "09d" or currentIcon == "09n" %}
                        <img src="{% static 'images/showerRain.png' %}" alt="showerRain">
                        {% elif currentIcon == "10d" %}
                        <img src="{% static 'images/rain.png' %}" alt="rain">
                        {% elif currentIcon == "11d" or currentIcon == "11n" %}
                        <img src="{% static 'images/thunderstorm.png' %}" alt="thunderstorm">
                        {% elif currentIcon == "13d" or currentIcon == "13n" %}
                        <img src="{% static 'images/snow.png' %}" alt="snow">
                        {% elif currentIcon == "50d" or currentIcon == "50n" %}
                        <img src="{% static 'images/mist.png' %}" alt="mist">
                        {% elif currentIcon == "01n" %}
                        <img src="{% static 'images/clearSkyN.png' %}" alt="clearSkyN">
                        {% elif currentIcon == "02n" %}
                        <img src="{% static 'images/fewCloudsN.png' %}" alt="fewCloudsN">
                        {% elif currentIcon == "10n" %}
                        <img src="{% static 'images/rainN.png' %}" alt="rainN">
                        {% endif %}
                        {{currentDay}}
                        {{currentTemp}}
                        {{currentWeather}}
                    </div>
                </div>
            </div>
    </div>

    <br>

    <div class="row">
        <div class="margin-left"></div>
        {% for a,b,c,d,e,f in ListOfAll %}
        <div class="col-md-1">
            <div class="cen">
                <div class="lightgrey">
                    {% load static %}
                    {% if b == "01d" %}
                    <img src="{% static 'images/clearSky.png' %}" alt="clearSky">
                    {% elif b == "02d" %}
                    <img src="{% static 'images/fewClouds.png' %}" alt="fewClouds">
                    {% elif b == "03d" or b == "03n" %}
                    <img src="{% static 'images/scatteredClouds.png' %}" alt="scatteredClouds">
                    {% elif b == "04d" or b == "04n" %}
                    <img src="{% static 'images/brokenClouds.png' %}" alt="brokenClouds">
                    {% elif b == "09d" or b == "09n" %}
                    <img src="{% static 'images/showerRain.png' %}" alt="showerRain">
                    {% elif b == "10d" %}
                    <img src="{% static 'images/rain.png' %}" alt="rain">
                    {% elif b == "11d" or b == "11n" %}
                    <img src="{% static 'images/thunderstorm.png' %}" alt="thunderstorm">
                    {% elif b == "13d" or b == "13n" %}
                    <img src="{% static 'images/snow.png' %}" alt="snow">
                    {% elif b == "50d" or b == "50n" %}
                    <img src="{% static 'images/mist.png' %}" alt="mist">
                    {% elif b == "01n" %}
                    <img src="{% static 'images/clearSkyN.png' %}" alt="clearSkyN">
                    {% elif b == "02n" %}
                    <img src="{% static 'images/fewCloudsN.png' %}" alt="fewCloudsN">
                    {% elif b == "10n" %}
                    <img src="{% static 'images/rainN.png' %}" alt="rainN">
                    {% endif %}
                </div>
                <div class="lightgrey">
                    {{d}} <br>
                    {{e}} <br>
                    {{a}} <br>
                    {{c}} <br>
                    Rain % = {{f}} <br>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-5">

        </div>

        <div class="col-md-2">

            <div class="cen">
                
                <button class="btn btn-dark" id="button"> Refresh </button>
                
            </div>

        </div>

        <div class="col-md-2">

        </div>

        <div class="col-md-2">
            <p>
                Last updated at :
                <span id="time2"> --:-- </span> <br>
            </p>
        </div>

        <div class="col-md-1">

        </div>



    </div>

</div>

<script type="text/Javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<script>
     
    // Time for current weather part

    /* function time() {
        var d = new Date();
        var m = d.getMinutes();
        var h = d.getHours();
        document.getElementById("time").textContent = ("0" + h).substr(-2) + ":" + ("0" + m).substr(-2);
    } */

    // Time for last updated
    function time2() {
        var d = new Date();
        var m = d.getMinutes();
        var h = d.getHours();
        document.getElementById("time2").textContent = ("0" + h).substr(-2) + ":" + ("0" + m).substr(-2);
    }

    //setInterval(time, 1000);
    time2()

    function clickMe() {
         window.location.reload(true)
    }

    ele = document.getElementById("button")
    if (ele)
        ele.addEventListener("click", clickMe);
    
    
</script>

{% endblock content %}