{% extends "base.html" %}

{% block scripts %}
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
    <script src='https://unpkg.com/@turf/turf@6.3.0/turf.min.js'></script>
{% endblock scripts %}

{% block styles %}
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet'/>
{% endblock styles %}

{% block meta %}
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no'/>
{% endblock meta %}

{% block content %}

    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <div class="row">
                    <h1>Route Planner:</h1>
                </div>

                <div class="row">
                    <div id='map' style='width: 700px; height: 700px;'></div>
                </div>

                <div class="row">
                    <div id="undo">
                        <button onclick="undo()">Undo</button>
                    </div>
                    <div id="save">
                        <button onclick="saveRoute()">Save</button>
                    </div>
                    <div id="generateInstructions">
                        <button onclick="displayInstructions()">Generate Instructions</button>
                    </div>
                </div>
                <div class="row">
                    <div id="dataEntry", class="">
                        <p id="errors"></p>
                        <input id="titleBox" type="text" placeholder="Give your route a title...">
                        <br><input id="descriptionBox" type="text" placeholder="Tell us about your route!">
                        <br><input id="tagsBox" type="text" placeholder="Give your route some tags...">
                    </div>
                </div>
                <div class="row">
                    <div id="instructions"></div>
                </div>
            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>

    <img id="mapimg">

    <script>

        //Constants:
        const saveRouteUrl = "";
        fullRoute="";
        GEOJSONRoute = "";

        mapboxgl.accessToken = 'pk.eyJ1IjoianNvbmJvdXJuZSIsImEiOiJja2xzMXpuODYxYmNvMm9ud2JxdHRuZzE0In0.8R6NEIohdETFfkjo5U5GdQ';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/outdoors-v11',
            center: [-0.57048282701993, 51.23653894018821], // starting position
            zoom: 12
        });

        // initialize the map canvas to interact with later
        var canvas = map.getCanvasContainer();

        var points = [];

        var endMarker = new mapboxgl.Marker({color: "red", draggable: true});
        var startMarker = new mapboxgl.Marker({color: "green", draggable: true});

        // create a function to make a directions request
        function getRoute(points) {
            console.log(points.length);
            if (points.length > 1) {
                steps = "";
                for (i = 0; i < points.length; i++) {
                    if (steps == "") {
                        steps = steps + points[i][0] + ',' + points[i][1];
                    } else {
                        steps = steps + ';' + points[i][0] + ',' + points[i][1];
                    }

                }
                console.log("Steps: " + steps);

                var url = 'https://api.mapbox.com/directions/v5/mapbox/walking/' + steps + '?alternatives=true&geometries=geojson&steps=true&access_token=' + mapboxgl.accessToken;
                console.log(url);
                var req = new XMLHttpRequest();
                req.open('GET', url, true);
                req.onload = function () {
                    var json = JSON.parse(req.response);
                    var data = json.routes[0];
                    var route = data.geometry.coordinates;
                    console.log("Route: " + route);
                    fullRoute=route;
                    var geojson = {
                        type: 'Feature',
                        properties: {},
                        geometry: {
                            type: 'LineString',
                            coordinates: route
                        }
                    };
                    //GEOJSONRoute = geojson;
                    //Get Instructions:
                    var instructions = document.getElementById('instructions');
                    var steps = data.legs[0].steps;

                    var tripInstructions = [];
                    for (var i = 0; i < steps.length; i++) {
                        tripInstructions.push('<br><li>' + steps[i].maneuver.instruction.substring(0, (steps[i].maneuver.instruction.length-1))) + '</li>';
                        fullInstructions = '<br><h2>Instructions:</h2><br><span class="duration">Trip duration: ' + Math.floor(data.duration / 60) + ' min </span>' + tripInstructions;
                    }
                    // if the route already exists on the map, reset it using setData
                    if (map.getSource('route')) {
                        GEOJSONRoute = req.response;
                        map.getSource('route').setData(geojson);
                        //update the position of the end marker to new end of route
                        endMarker.setLngLat(points[points.length - 1]);
                        console.log("Set Data");
                        //GEOJSONRoute = geojson;
                    } else { // otherwise, make a new request
                        console.log("New Layer");
                        map.addLayer({
                            id: 'route',
                            type: 'line',
                            source: {
                                type: 'geojson',
                                data: {
                                    type: 'Feature',
                                    properties: {},
                                    geometry: {
                                        type: 'LineString',
                                        coordinates: geojson
                                    }
                                }
                            },
                            layout: {
                                'line-join': 'round',
                                'line-cap': 'round'
                            },
                            paint: {
                                'line-color': '#3887be',
                                'line-width': 5,
                                'line-opacity': 0.75
                            }
                        });
                        map.getSource('route').setData(geojson);
                        //GEOJSONRoute = geojson;
                        console.log(geojson);
                        console.log("Set Data after New Layer");
                        //Add the end marker to the map for the first time
                        endMarker
                            .setLngLat(points[points.length - 1])
                            .setPopup(new mapboxgl.Popup().setHTML("End"))
                            .addTo(map);
                    }
                };
                req.send();
            } else if (points.length == 1) {
                console.log("Initial point triggered");
                if (!map.getSource('start')) {
                    console.log("No start layer detected");
                    startMarker
                        .setLngLat(points[0])
                        .setPopup(new mapboxgl.Popup().setHTML("Start"))
                        .addTo(map);
                }
            }

        }

        map.on('click', function (e) {
            var coordsObj = e.lngLat;
            canvas.style.cursor = '';
            var coords = Object.keys(coordsObj).map(function (key) {
                return coordsObj[key];
            });

            points.push(coords);
            console.log("Coords: " + coords);
            console.log("Points: " + points);

            getRoute(points);
        });

        function undo() {
            points.splice(points.length - 1, 1);
            console.log(points);
            if (map.getLayer('route')) {
                map.removeLayer('route');
            }
            if (map.getSource('route')) {
                map.removeSource('route');
            }
            endMarker.remove();
            if (points.length == 0) {
                startMarker.remove();
            }
            getRoute(points);
        }


        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function validateInputs(){
            console.log(document.getElementById("titleBox").value);
            document.getElementById("errors").innerHTML = "";
            console.log(points.length);
            if (points.length < 2){
                document.getElementById("errors").innerHTML = document.getElementById("errors").textContent + "You must plot a route<br>";
                return false;
            }
            if (document.getElementById("titleBox").value == ""){

                document.getElementById("errors").innerHTML = document.getElementById("errors").textContent + "You must enter a title<br>";
                return false;
            }else{
                if (document.getElementById("descriptionBox").value == ""){
                    document.getElementById("errors").innerHTML = document.getElementById("errors").textContent + "You must enter a description";
                    return false;
                }else{
                    return true;
                }
            }
        }

        function saveRoute() {

            //title = prompt("Give your route a name:", "My route");

            if(validateInputs()){
                var xhr = new XMLHttpRequest();

                xhr.open("POST", "", false);
                xhr.withCredentials = true;

                xhr.setRequestHeader('X-CSRFToken', Cookies.get('csrftoken'));
                xhr.setRequestHeader("Accept", "application/json");

                //xhr.send("yeet")
                console.log(generateMapImage(fullRoute));

                xhr.send(JSON.stringify({
                    points: fullRoute,
                    title: document.getElementById("titleBox").value,
                    description: document.getElementById("descriptionBox").value,
                    length: calculateLength(),
                    image: generateMapImage(fullRoute),
                    tags: document.getElementById("tagsBox").value
                }));
            }


        }

        function repositionEndMarker() {
            console.log("End marker moved");
            console.log("New end: " + endMarker.getLngLat().lng + ", " + endMarker.getLngLat().lat);
            points[points.length - 1][0] = endMarker.getLngLat().lng;
            points[points.length - 1][1] = endMarker.getLngLat().lat;
            getRoute(points);

        }

        function repositionStartMarker() {
            console.log("End marker moved");
            console.log("New end: " + startMarker.getLngLat().lng + ", " + startMarker.getLngLat().lat);
            points[0][0] = startMarker.getLngLat().lng;
            points[0][1] = startMarker.getLngLat().lat;
            getRoute(points);
        }

        /*function encodeCoords(coords){
            return ([encodePoint(coords[0]), encodePoint(coords[1])])
        }

        function encodePoint(point){
            point = point*1e5;
            neg = (point < 0);
            console.log("Mult: " + point);
            /*if (point < 0){
                console.log("-ve");
                point = ~point;
            }
            //console.log("Inverted: " + point);
            point = point << 1;
            console.log(point);
            if (neg){
                point = ~point;
            }




        }*/

        function displayInstructions(){
            document.getElementById("instructions").innerHTML = fullInstructions;
        }

        function calculateLength(){
            line = turf.lineString(points);
            length = turf.length(line, {units: 'kilometers'});
            console.log("Length: " + length);
            return length;
        }

        function generateMapImage(route){

            JSONFormat = { "type": "Feature",
                              "geometry": {
                                "type": "LineString",
                                "coordinates": route,
                              },
                              "properties": {
                                //"stroke": "#555555"
                              }
                            };

            //console.log(JSON.stringify(route));
            /*for (i = 0; i < route.length; i++){
                encodeCoords(route[i]);
            }*/
            //encodeCoords(route[0]);
            //encodedRoute = encode_polyline(route);
            //console.log(JSON.stringify(JSONFormat));
            //encodedRoute = encode_polyline([[38.5, -120.2], [40.7, -120.95], [43.252, -126.453]]);
            //console.log("https://api.mapbox.com/styles/v1/mapbox/outdoors-v11/static/path(" + encodedRoute + ")/auto/300x200?access_token=pk.eyJ1IjoianNvbmJvdXJuZSIsImEiOiJja2xzMXpuODYxYmNvMm9ud2JxdHRuZzE0In0.8R6NEIohdETFfkjo5U5GdQ");
            document.getElementById("mapimg").setAttribute("src", "https://api.mapbox.com/styles/v1/mapbox/outdoors-v11/static/geojson(" + JSON.stringify(JSONFormat) + ")/-0.5662,51.2309,10.81,0/300x200?access_token=pk.eyJ1IjoianNvbmJvdXJuZSIsImEiOiJja2xzMXpuODYxYmNvMm9ud2JxdHRuZzE0In0.8R6NEIohdETFfkjo5U5GdQ");
            return(("https://api.mapbox.com/styles/v1/mapbox/outdoors-v11/static/geojson(" + JSON.stringify(JSONFormat) + ")/-0.5662,51.2309,10.81,0/300x200?access_token=pk.eyJ1IjoianNvbmJvdXJuZSIsImEiOiJja2xzMXpuODYxYmNvMm9ud2JxdHRuZzE0In0.8R6NEIohdETFfkjo5U5GdQ").toString());
            //https://api.mapbox.com/styles/v1/mapbox/outdoors-v11/static/path(%7DvtwHdrsBw%40sQi%40%5BaA_i%40c%40%7DFmB_IaFcN_M%7BNs%40iDHwAk%40YQaDUqCAGAIkEa%5EqAcEmGaXoDqEqEcDcIyDmPwPQVcKeV)/auto/300x200?access_token=pk.eyJ1IjoianNvbmJvdXJuZSIsImEiOiJja2xzMXpuODYxYmNvMm9ud2JxdHRuZzE0In0.8R6NEIohdETFfkjo5U5GdQ
        }


        endMarker.on('dragend', repositionEndMarker);
        startMarker.on('dragend', repositionStartMarker);

    </script>
{% endblock content %}